---
layout: home
---
{% capture index_content %}
<section>
  <h2>Say goodbye to wires</h2>
  <h3><img class="home-not-hero" src="/images/tty_wirefree_rev1.jpg" alt="Split wireless keyboard"></img></h3>
  <p class="center">tty is building an opensource, wire-free mechanical keyboard.</p>
  <div class="home-row">
    <div class="home-feature three">
      <h3><i class="fab fa-bluetooth-b fa-2x"></i></h3>
      <p>BLE 5.0</p>
    </div>
    <div class="home-feature three">
      <h3><i class="fas fa-wifi fa-2x"></i></h3>
      <p>Qi Charging</p>
    </div>
    <div class="home-feature three">
      <h3><i class="fab fa-usb fa-2x"></i></h3>
      <p>USB C</p>
    </div>
  </div>

  <div class="home-row">
    <div class="home-feature one">
      <ul>
        <li>Mechanical Switches</li>
        <li>NKRO</li>
        <li>Fully Programmable</li>
        <li>NFC Pairing</li>
        <li>Over The Air Keymap Updates</li>
        <li>Over The Air Firmware Updates</li>
        <li>AFK Autosleep</li>
        <li>Long Lasting LiPo Battery</li>
        <li>iOS / Android Keymap Config App</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <h2>Latest News</h2>

  {% for post in site.posts limit:1 %}
    {% include post_preview.html %}
  {% endfor %}
</section>


<section>
  <h2>FAQ</h2>
  <ul>
    <li><b>Is there a project roadmap?</b> <span><a href="/posts/status-report-2/">Status Report #2</a> is the latest roadmap.</span></li>
    <li><b>How can I follow the project or contribute?</b> <span>You can either subscribe to our <a href="https://mailchi.mp/99f0594eda3d/ttykeyboards">mailing list</a>, follow me on <a href="https://twitter.com/jordanmajd">twitter</a> or <a href="https://discord.gg/B8Zw4wq"> join our Discord.</a></span></li>
  </ul>
</section>
{% endcapture %}
{% assign split_content = index_content | newline_to_br | split: '<br />' %}
{% for line in split_content %}{{line|strip}}{% endfor %}
