<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title and page.title != "" %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo %}
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link  rel="stylesheet" type="text/css" href="/assets/all.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/posts/">Newsfeed</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        
        <div id="main" role="main" class="container">
          {% capture subscribe_content %}
          {% include subscribe.html %}
          {% endcapture %}
          {% assign split_content = subscribe_content | newline_to_br | split: '<br />' %}
          {% for line in split_content %}{{line|strip}}{% endfor %}
          {{ content }}
        </div>
      </div>
      <footer class="footer">
        <div class="home-row">
          <h5><i class="fas fa-keyboard fa-5x"></i>*<i class="far fa-keyboard fa-5x"></i></h5>
        </div>
        <p>"The proletarians have nothing to loose but their wires. They have a world to win." - Keeb Marx, The Typist Manifesto.</p>
        {% include svg-icons.html %}
        <a src="https://github.com/JordanMajd/ttykeyboards.com#license--credits">Credits & Licenses</a>
        <p>&copy; 2019 Jordan Majd</p>
      </footer>
    </div>
  </body>
</html>
